$bc = #ced0d4;
$rg = #e9ebee
$fb = #3578e5

body, html 
    line-height: 1
    font-weight: 200
    font-family: 'PingFang SC','STHeitiSC-Light','Helvetica-Light',arial sans-serif

border-1px($color)
    &:after
        display: block
        position absolute
        left 0
        top 0
        width 100%
        border-top 1px solid $color
        content ''
        transform scaleY(0.5)
border-none()
    &:after
        display: none

wh($width, $height)
    width $width
    height $height

sc($fz, $c)
    font-size $fz
    color $c

flex($direction)
    display flex
    justify-content space-around
    align-items center
    flex-direction $direction

ct()
    position absolute
    top 50%
    transform translateY(-50%)

fj($type=space-between) 
    display flex
    justify-content $type

center()
    position absolute
    top 50%
    left 50%
    transform translate(-50%,-50%)

placeholder($color)
    input::-webkit-input-placeholder { /* WebKit browsers */ 
    color: $color; 
    } 
    input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
    color: $color; 
    } 
    input::-moz-placeholder { /* Mozilla Firefox 19+ */ 
    color: $color; 
    } 
    input:-ms-input-placeholder { /* Internet Explorer 10+ */ 
    color: $color; 
    } 
